<%# ヘッダーを表示 %>
<%= render "shared/header" %>

<%# テイスティングシート作成フォームを表示 %>
<div class="container-fluid">
  <div class="input-form col-sm-10 col-lg-8">
    <h2 class="wine-name"><%= @wine.name %> 's</h2>
    <h2 class="input-form-title">Tasting Sheet</h2>
    <div class="container-input-form-main-TS">
      <div class="input-form-main col-10">
        <%= form_with model: [@wine, @tasting_sheet], local: true do |f| %>

  <%# 外観の選択肢パート %>
          <div class="section-tasting-sheet">
            <h4 class="section-tasting-sheet-title">外観  - Appearance</h4>           
            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">清澄度（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :clarity_id, Clarity.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input clarity-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">輝き（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :brilliance_id, Brilliance.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input brilliance-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">色調（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :hue_ids, Hue.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">濃淡（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :depth_id, Depth.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input depth-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">粘性（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :viscosity_id, Viscosity.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input viscosity-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">外観の印象（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :appearance_ids, Appearance.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

  <%# 香りの選択肢パート %>
          <div class="section-tasting-sheet">
            <h4 class="section-tasting-sheet-title">香り  - Aroma</h4>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">第一印象（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :first_impression_ids, FirstImpression.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">香りの要素（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :aroma_element_ids, AromaElement.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">香りの印象（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :aroma_impression_ids, AromaImpression.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

  <%# 味わいの選択肢パート %>
          <div class="section-tasting-sheet">
            <h4 class="section-tasting-sheet-title"> 味わい  - Taste</h4>
            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">アタック（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :attack_id, Attack.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input attack-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">甘味（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :sweetness_id, Sweetness.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input sweetness-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">酸味（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :acidity_ids, Acidity.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">苦味（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :bitterness_id, Bitterness.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input bitterness-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">バランス（複数選択可）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :balance_ids, Balance.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">アルコール（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :alcohol_id, Alcohol.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input alcohol-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">余韻（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :finish_id, Finish.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input finish-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

  <%# 総合評価パート %>
          <div class="section-tasting-sheet">
            <h4 class="section-tasting-sheet-title">総合  - Overall</h4>
            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">評価（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :evaluation_id, Evaluation.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input evaluation-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">適正温度（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :serving_temperature_id, ServingTemperature.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input serving_temperature-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">グラス（ひとつを選択）</h6>
              <div class="tasting-sheet-cheks">
                <%= f.collection_check_boxes :glass_id, Glass.all, :id, :option do |b| %>
                  <div class="form-check form-check-inline">
                    <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input glass-input") + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="input-filed-tasting-sheet">
              <h6 class="tasting-sheet-item">自由記入欄</h6>
              <%= f.text_area :detail, class:"form-control", rows:"5" %>
              </div>
            </div>
          </div>
          
          <div class="btn-holder-wine">
            <%= f.submit "作成", class:"btn-create w-100 btn btn-lg btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
