<div class="container-fuild sign-in">
  <div class="app-title">VINOLOGUE</div>
  <div class="app-philosophy">ワインを記録し、管理する。
    <br>Wine Lover による Wine Lover のためのテイスティングノート作成アプリ
  </div>
  
  <main class="form-signin">
    <%= form_with(model: @user, url: user_session_path, local: true) do |f| %>
      <h1 class="h3 mb-3 mt-5 fw-normal">ログイン</h1>

      <div class='login-flash-message mb-2'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <p>▶▶▶ <a href="/users/sign_up" class="link-login">アカウントを登録</a></p>

      <div class="form-floating mb-2">
        <%= f.email_field :email, class:"form-control", id:"email", placeholder:"name@example.com", autocomplete:"email" %>
        <label for="email">Email address</label>
      </div>
      <div class="form-floating mb-2">
        <%= f.password_field :password, class:"form-control", id:"password", placeholder:"6文字以上の半角英数字", autocomplete:"current-password" %>
        <label for="password">Password</label>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field-remember">
          <p><%= f.check_box :remember_me %></p>
          <p><%= f.label :remember_me %></p>
        </div>
      <% end %>

      <div class="btn-holder">
        <%= f.submit "Log in", class:"w-100 btn btn-lg btn-secondary" %>
      </div>
    <% end %>
  </main>
</div>
