<%# ヘッダーを表示 %>
<%= render "shared/header" %>

<%# ワイン情報詳細を表示 %>
<div class="container">
  <div class="winenote-show col-sm-10">

  <%# ワイン情報・テイスティングシート作成完了時のフラッシュメッセージ %>
    <% if flash[:create] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= flash[:create] %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <%# テイスティングシート作成へのリンク %>
    <% if @wine.tasting_sheet.nil? %>
      <div class="link-holder-right">
        ▶▶▶ <%= link_to 'このワインのテイスティングシートを作成する', new_wine_tasting_sheet_path(@wine) %>
      </div>
    <% end %>

    <div class="row">
  <%# ワイン情報：写真パート %>    
      <div class="container-winenote-show-photos col-sm-12 col-lg-5 d-flex justify-content-evenly">
        <div class="winenote-show-photo col-6">
          <% if @wine.images[0].nil? %>
            <%= image_tag "no_image.png", class:"img-thumbnail", alt:"..." %>
          <% else %>
            <%= image_tag @wine.images[0], class:"img-thumbnail", alt:"..." %>
          <% end %>
        </div>
        <div class="winenote-show-photo col-6">
          <% if @wine.images[1].nil? %>
            <%= image_tag "no_image.png", class:"img-thumbnail", alt:"..." %>
          <% else %>
            <%= image_tag @wine.images[1], class:"img-thumbnail", alt:"..." %>
          <% end %>
        </div>
      </div>
  <%# ワイン情報：登録情報パート %>
      <div class="container-winenote-show-details col-sm-12 col-lg-7 d-flex justify-content-center">
        <div class="winenote-show-details w-100">
          <div class="winenote-show-star"><%= @wine.star.name %></div>
          <div class="winenote-show-name h3"><%= @wine.name %></div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">ワインの種別</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.type.name %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">産地（国）</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.country.name %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">産地（地域）</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.area %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">ブドウ品種</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.variety.name unless @wine.variety.nil? %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">生産年</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.vintage %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">コメント</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.comment %></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%# 編集・削除ボタンを表示 %>
<div class="container">
  <div class="winenote-edit col-sm-10 d-flex justify-content-evenly">
    <div class="d-grid col-4">
      <%= link_to "ワインノートを編集する", edit_wine_path(@wine), class:"btn btn-outline-secondary"%>
    </div>
    <div class="d-grid col-4">
      <button type="button" class="btn btn-outline-secondary" id="delete-wine-btn">ワインノートを削除する</button>
    </div>
  </div>
</div>

<%# 削除確認用モーダル %>
<div id="confirmation-modal" class="modal">
  <div class="modal-content">
    <p>ワイン情報を削除しますか？</p>
    <p>※テイスティングシートも同時に削除されます</p>
    <div class="modal-buttons">
      <%= link_to 'はい', wine_path(@wine), method: :delete, class:"btn btn-outline-secondary col-sm-6 col-md-2", id: "confirm-yes" %>
      <button type="button" class="btn btn-outline-secondary col-sm-6 col-md-2" id="confirm-no">いいえ</button>
    </div>
  </div>
</div>

<%# テイスティングシートを表示 %>
<% unless @tasting_sheet.nil? %>
<div class="container">
  <div class="tastingsheet-show col-sm-10">
    <div class="container-tastingsheet-details">
      <div class="tastingsheet-details col-10">
        <div class="section-tasting-sheet">
          <h4 class="section-tasting-sheet-title">外観  - Appearance</h4>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">清澄度</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.clarity.nil? %>
              <% else %>
                □ <%= @tasting_sheet.clarity.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">輝き</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.brilliance.nil? %>
              <% else %>
                □ <%= @tasting_sheet.brilliance.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">色調</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.hues.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">濃淡</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.depth.nil? %>
              <% else %>
                □ <%= @tasting_sheet.depth.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">粘性</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.viscosity.nil? %>
              <% else %>
                □ <%= @tasting_sheet.viscosity.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">外観の印象</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.appearances.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="section-tasting-sheet">
          <h4 class="section-tasting-sheet-title">香り  - Aroma</h4>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">第一印象</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.first_impressions.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">香りの要素</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.aroma_elements.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">香りの印象</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.aroma_impressions.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="section-tasting-sheet">
          <h4 class="section-tasting-sheet-title"> 味わい  - Taste</h4>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">アタック</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.attack.nil? %>
              <% else %>
                □ <%= @tasting_sheet.attack.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">甘味</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.sweetness.nil? %>
              <% else %>
                □ <%= @tasting_sheet.sweetness.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">酸味</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.acidities.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">苦味</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.bitterness.nil? %>
              <% else %>
                □ <%= @tasting_sheet.bitterness.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">バランス</div>
            <div class="tastingsheet-detail-content col-9">
              <% @tasting_sheet.balances.each do |item| %>
                □ <%= item.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">アルコール</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.alcohol.nil? %>
              <% else %>
                □ <%= @tasting_sheet.alcohol.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">余韻</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.finish.nil? %>
              <% else %>
                □ <%= @tasting_sheet.finish.option %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="section-tasting-sheet">
          <h4 class="section-tasting-sheet-title">総合  - Overall</h4>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">評価</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.evaluation.nil? %>
              <% else %>
                □ <%= @tasting_sheet.evaluation.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">適正温度</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.serving_temperature.nil? %>
              <% else %>
                □ <%= @tasting_sheet.serving_temperature.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">グラス</div>
            <div class="tastingsheet-detail-content col-9">
              <% if @tasting_sheet.glass.nil? %>
              <% else %>
                □ <%= @tasting_sheet.glass.option %>
              <% end %>
            </div>
          </div>
          <div class="tastingsheet-detail row">
            <div class="tastingsheet-detail-title col-3">自由記入欄</div>
            <div class="tastingsheet-detail-content col-9"><%= @tasting_sheet.detail %></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<% end %>