<%# ヘッダーを表示 %>
<%= render "shared/header" %>

<%# ワイン情報詳細を表示 %>
<div class="container">
  <div class="winenote-show col-sm-10">

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= flash[:notice] %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="link-tasting-sheet-new">
      ▶▶▶ <%= link_to 'このワインのテイスティングシートを作成する', new_wine_tasting_sheet_path(@wine) %>
    </div>

    <div class="row">
    
      <div class="container-winenote-show-photos col-sm-12 col-lg-5 d-flex justify-content-evenly">
        <div class="winenote-show-photo col-6">
          <% if @wine.images[0].nil? %>
            <%= image_tag "no_image.png", class:"img-thumbnail", alt:"..." %>
          <% else %>
            <%= image_tag @wine.images[0], class:"img-thumbnail", alt:"..." %>
          <% end %>
        </div>
        <div class="winenote-show-photo col-6">
          <% if @wine.images[1].nil? %>
            <%= image_tag "no_image.png", class:"img-thumbnail", alt:"..." %>
          <% else %>
            <%= image_tag @wine.images[1], class:"img-thumbnail", alt:"..." %>
          <% end %>
        </div>
      </div>

      <div class="container-winenote-show-details col-sm-12 col-lg-7 d-flex justify-content-center">
        <div class="winenote-show-details w-100">
          <div class="winenote-show-star"><%= @wine.star.name %></div>
          <div class="winenote-show-name h3"><%= @wine.name %></div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">ワインの種別</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.type.name %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">産地（国）</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.country.name %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">産地（地域）</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.area %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">ブドウ品種</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.variety.name unless @wine.variety.nil? %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">生産年</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.vintage %></div>
          </div>
          <div class="winenote-show-detail row">
            <div class="winenote-show-detail-title col-3">コメント</div>
            <div class="winenote-show-detail-content col-9"><%= @wine.comment %></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%# 編集・削除ボタンを表示 %>
<div class="container">
  <div class="winenote-edit col-sm-10 d-flex justify-content-evenly">
    <div class="d-grid col-4">
      <%= link_to "ワインノートを編集する", edit_wine_path(@wine), class:"btn btn-outline-secondary"%>
    </div>
    <div class="d-grid col-4">
      <button type="button" class="btn btn-outline-secondary" id="delete-wine-btn">ワインノートを削除する</button>
    </div>
  </div>
</div>

<%# 削除確認用モーダル %>
<div id="confirmation-modal" class="modal">
  <div class="modal-content">
    <p>ワイン情報を削除しますか？</p>
    <p>※テイスティングシートも同時に削除されます</p>
    <div class="modal-buttons">
      <%= link_to 'はい', wine_path(@wine), method: :delete, class:"btn btn-outline-secondary col-sm-6 col-md-2", id: "confirm-yes" %>
      <button type="button" class="btn btn-outline-secondary col-sm-6 col-md-2" id="confirm-no">いいえ</button>
    </div>
  </div>
</div>
