<%= render "shared/header" %>

<%= render "shared/search_bar" %>

<div class="wine-items container">
  <div class="wine-items-headline">
    <h3><%= current_user.nickname %> さんのワインノート</h3>
  </div>
  <div class="row">
    <% @wines.each do |wine| %>
      <%= render partial: "shared/index", locals: { wine: wine } %>
    <% end %>
  </div>
</div>

<%= link_to(new_wine_path, class: 'wine-new-btn') do %>
  <span class='wine-new-btn-text'>ワインを登録</span>
  <%= image_tag 'icon_glass.png' , size: '185x50' ,class: "wine-new-btn-icon" %>
<% end %>
